<li id="following-<%= follow_user.name %>">
  <%= link_to gravatar_for(follow_user, size: 50), follow_user %>
  <span class="follow_user"><%= link_to follow_user.name, follow_user %></span>
  </span>
</li>